/* 
html{
    box-sizing: border-box;
}
/*  */
*,
*::before,
*::after {
  box-sizing: inherit;
}
*/ p,
h1,
h2,
h3,
h4,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}
:root {
  --primary-text-color: #2e2f42;
  --title-text-color: #434455;
  --accent-color: #4d5ae5;
  --accent-color-hero: #ffffff;
  --footer-text-color: #e7e9fc;
  --footer-logo-text: #f4f4fd;
  --button-color-hover: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  background: #ffffff;
  font-style: normal;
  font-weight: 400;
  color: var(--title-text-color);
}

.container {
  width: 1158px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid #e7e9fc;
}

img {
  display: block;
}

.header {
  padding-top: 24px;
}
.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 24px;
  padding-top: 24px;
  height: 72px;
  margin-right: auto;
}

.header-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.accent {
  font-family: "Raleway", sans-serif;
  color: var(--accent-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-left: 72px;
  padding-right: 76px;
}

.list {
  list-style: none;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

.header-list {
}

.header-item {
}
/* header A */
.header-link {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  font-weight: 500;
}
.header-link:hover,
.header-link:active,
.header-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}
.address-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  padding-right: 72px;
}

.address-item {
}

/* address A */
.address-link {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  letter-spacing: 0.02em;
  text-decoration: none;
  gap: 40px;
}

.address-link:hover,
.address-link:active,
.address-link:focus {
  color: #404bbf;
}

/* HERO */
.hero-section {
  padding-top: 0;
  padding-bottom: 0;
}
.hero {
  background: #2e2f42;
  max-width: 1440px;
  max-height: 600px;
  margin: 0 auto;
  padding-bottom: 94px;
}

.hero-title {
  color: var(--accent-color-hero);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  padding-top: 94px;
  padding-bottom: 48px;
  margin: 0;
}
button {
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.hero-button {
  color: var(--accent-color-hero);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 105px;
  min-height: 24px;
}
.hero-button:active,
.hero-button:hover,
.hero-button:focus {
  color: var(--accent-color-hero);
  background-color: var(--button-color-hover);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 105px;
  min-height: 24px;
}

/* Section */

.none {
  font-size: 0;
}
.container-list {
  display: flex;
  padding-left: 156px;
  padding-right: 156px;
  gap: 24px;
}
.list-section {
  margin-top: 148px;
}
.title-section {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-bottom: 8px;
  margin: 0 auto;
}

.section-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  margin: 0 auto;
}

/* work */

.work-section {
  margin-top: 120px;
}
.work-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  padding-bottom: 72px;
}

.about-list {
  list-style: none;
  display: flex;
  padding-left: 156px;
  padding-right: 156px;
  justify-content: center;
  gap: 24px;
  padding-bottom: 120px;
}

.about-item {
  box-sizing: border-box;
  max-width: 360px;
  max-height: 300px;
  background: linear-gradient(
      0deg,
      rgba(77, 90, 229, 0.1),
      rgba(77, 90, 229, 0.1)
    ),
    url(2368);
  background-blend-mode: soft-light, normal;
  border: 1px solid #e7e9fc;
}

/* our team */

.team-section {
  background: #f4f4fd;
  padding-bottom: 120px;
  
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--primary-text-color);
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-bottom: 32px;
  justify-content: center;
}

.team-item {
  list-style: none;
}

.name-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  background: #ffffff;
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  background: #ffffff;
  margin: 0 auto;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 32px;
}

.foto-list {
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

/* Footer */

.footer {
  background: #2e2f42;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--accent-color);
  padding-left: 156px;
  padding-top: 100px;
  padding-bottom: 16px;
}

.web-logo {
  color: var(--footer-logo-text);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
}
.footer-text {
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding-left: 156px;
  padding-bottom: 100px;
  padding-right: 1020px;
  width: 264px;
  height: 72px;
}

/* Portfolio list */
.container-portfolio {
  display: flex;
  padding-left: 427px;
  padding-right: 427px;
  padding-top: 96px;
  padding-bottom: 72px;
  gap: 24px;
  justify-content: center;
}
.button {
  width: 116px;
  height: 48px;
  background: #f4f4fd;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  cursor: pointer;
}

.button:hover {
  color: var(--accent-color-hero);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button:focus {
  color: var(--accent-color-hero);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.button:active {
  color: var(--accent-color-hero);
  background: #404bbf;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* Offers */

.offers {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  padding-left: 156px;
  padding-right: 156px;
  padding-bottom: 120px;
  justify-content: center;
  
}
.offers-item {
  background: #ffffff;
  border: 1px solid #e7e9fc;
  width: calc(100% - 90px) / 3);
}

.offers-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  
}
.offers-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
/* products */
.products {
  list-style: none;
}
.products-item {
  background: #ffffff;
  border: 1px solid #e7e9fc;
}
.link {
  text-decoration: none;
}
